# Prediction using Supervised ML
# TASK-1
Predict the percentage of an student based on the no. of study hours.
 
 DONE BY:
  
     UTHARA PRINCE

Importing the libraries and reading the data

In [141]:

import pandas as pd
import numpy as np

data=pd.read_csv("http://bit.ly""/w-data")
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [142]:
Y_train=data.drop(["Hours"],axis=1)
Y_train

    Scores
0       21
1       47
2       27
3       75
4       30
5       20
6       88
7       60
8       81
9       25
10      85
11      62
12      41
13      42
14      17
15      95
16      30
17      24
18      67
19      69
20      30
21      54
22      35
23      76
24      86

In [143]:
data=data.drop(["Scores"],axis=1)
data

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8

Spliting into Training and Testing data

In [144]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,Y_train,test_size=0.2,random_state=0)
x_train.shape

(20, 1)

In [145]:
from sklearn import metrics
def error(x_test,y_test,model_name):
  predict=model_name.predict(x_test)
  print("MAE",metrics.mean_absolute_error(y_test,predict))
  print("MSE",metrics.mean_squared_error(y_test,predict))
  print("RMSE",np.sqrt(metrics.mean_squared_error(y_test,predict)))

Training the model

In [146]:
from sklearn import linear_model
linear_reg=linear_model.LinearRegression()
linear_reg.fit(x_train,y_train) 
error(x_test,y_test,linear_reg)
Acc=linear_reg.score(x_test,y_test)
print(Acc*100,"%")

MAE 4.183859899002982
MSE 21.598769307217456
RMSE 4.647447612100373
94.54906892105353 %

In [147]:
data=[9.25]
prediction=linear_reg.predict([data])
prediction
print("The marks for a person studying for 9.25hrs is {}".format(prediction[0]))

The marks for a person studying for 9.25hrs is [93.69173249]